html{
    background-color: rgb(99 39 39);
    user-select: none;
}

#TopRow {
    height: 100px;
    width: auto;
    background-color: #370b0b;
    display: flex;
    align-content: stretch;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    font-size: xxx-large;
    z-index: 2;
}

#ItemContainer {
    margin-left: 300px; 
    margin-right: 300px; 
    display: flex; 
    flex-direction: column;
    align-content: center; 
    align-items: center;
}

#Column1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
    align-items: center;
    justify-content: center;
}

#Introduction {
    border-radius: 10px;
    background-color: #fff8e5;
    height: 400px;
    width: 400px;
    position: relative;
}

#PlayGame {
    border-radius: 10px;
    background-color: #fff8e5;
    height: 100px;
    width: 400px;
    position: relative;
    margin-top: 60px;
}

#Column2 {
    position: relative;
    margin-top: 15pc;
}

#Box1 {
    background-color: #370b0b;
    height: 125px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    position: relative;
    top: 10pc;
}

.WhiteBorder {
    background-color: #fff8e5;
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    z-index: -2;
}

.TextColor {
    color: #370b0b;
}

.TextColorWhite {
    color: #fff8e5;
}

.glow {
    color: #fff8e5;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    animation: glowing 2s ease-in-out infinite alternate;
}

@keyframes glowing {

    from {
        text-shadow: 0 0 40px #fff8e5, 0 0 50px #fff8e5;
    }

    to {
        text-shadow: 0 0 20px #fff8e5, 0 0 30px #fff8e5;
    }

}

#BottomRow {
    margin-top: 20px;
    height: 100px;
    width: auto;
    background-color: #370b0b;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    /*position: relative;
    */
}

/*
#RedBoxTESTFROMJERE1 {
    height: 40px;
    width: 40px;
    background-color: red;
    position: absolute;
    top: 20px;
    right: 20px;
}
*/

#DownScroll {
    writing-mode: tb-rl;
    color: #370b0b;
    position: absolute;
    top: 10pc;
    animation: downScroll 20s infinite linear;
    font-size: 100px;
    z-index: 1;
    left: -2pc;
}

@keyframes downScroll {

    from {
        transform: translateY(-200%);
    }

    to {
        transform: translateY(1800%);
    }

}

#UpScroll {
    writing-mode: tb-rl;
    color: #370b0b;
    position: absolute;
    top: 10pc;
    animation: upScroll 20s infinite linear;
    font-size: 100px;
    z-index: 1;
    left: -2pc;
}

@keyframes upScroll {

    from {
        transform: translateY(1800%);
    }

    to {
        transform: translateY(-200%);
    }
}